.first {
    background-color: aqua;
   
}
.second {
    background-color: brown;
    text-align: center;
   
}
.third {
    background-color: yellow;
    text-align: right;
   
}
#head {
    font-size: xx-large;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}
h1 {
    text-align: center;
    color: red;
    background-color: white;
}
div {
    background-color: tomato;
   width: 100%;
  
}
table {
    width: 100%;
}
video {
    max-width: 150%;
    min-width: 80%;
}
